openapi: 3.2.0
info:
  title: Thanx Partner Subscribers API
  description: The Thanx Partner API provides privileged endpoints supporting custom integration use cases, including end-user token issuance, campaign management and reward issuance, subscriber ingestion, feedback handling, tags, and metadata lookups for merchants, locations, and scopes. It is intended for approved partners building deeper integrations with the Thanx engagement and marketing platform.
  version: v4.0
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.thanx.com
  description: Production
- url: https://api.thanxsandbox.com
  description: Sandbox
security:
- bearerAuth: []
  clientId: []
tags:
- name: Subscribers
  description: Ingest marketing subscribers.
paths:
  /partner/subscribers:
    post:
      operationId: createSubscriber
      summary: Create Subscriber
      description: Ingests a marketing subscriber for a merchant.
      tags:
      - Subscribers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - merchant_id
              - subscriber
              properties:
                merchant_id:
                  type: string
                subscriber:
                  type: object
                  required:
                  - email
                  properties:
                    email:
                      type: string
                      format: email
                    first_name:
                      type: string
                    last_name:
                      type: string
                    birth_date:
                      type: object
                      properties:
                        month:
                          type: integer
                        day:
                          type: integer
                    zip_code:
                      type: string
            examples:
              CreateSubscriberRequestExample:
                summary: Default createSubscriber request
                x-microcks-default: true
                value:
                  merchant_id: 92b7b0dac4
                  subscriber:
                    email: jane.smith@example.com
                    first_name: Jane
                    last_name: Smith
                    birth_date:
                      month: 8
                      day: 14
                    zip_code: '94105'
      responses:
        '201':
          description: The created subscriber.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriber:
                    type: object
                    properties:
                      email:
                        type: string
              examples:
                CreateSubscriber201Example:
                  summary: Default createSubscriber 201 response
                  x-microcks-default: true
                  value:
                    subscriber:
                      email: jane.smith@example.com
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  responses:
    BadRequest:
      description: The request was invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Partner access token.
    clientId:
      type: apiKey
      in: header
      name: X-ClientId
      description: Client-specific identifier provided by Thanx.
